@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, sans-serif;
}

/* Make it look like a smooth extension scroll */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}